<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magento Custom Module
 * To display the top 100 most viewed gifts on a single, responsive page
 *
 * @category    TF
 * @package     TF_TopGifts
 * @copyright   
 * @license     Free Distribution
 */
 
 /**
 * Configuration
 *
 * @version    1.0
 * @author     Shawn Wang (shawn.wang.uk@gmail.com)
 */
-->
<config>    
    <modules>
        <TF_TopGifts>
            <version>0.1.0</version>
        </TF_TopGifts>
    </modules>
    
    <frontend>
        <routers>
            <topgifts>
                <use>standard</use>
                <args>
                    <module>TF_TopGifts</module>
                    <frontName>topgifts</frontName>
                </args>
            </topgifts>
        </routers>  
        
        <layout>
            <updates>
                <tf_topgifts>
                    <file>tf/topgifts.xml</file>
                </tf_topgifts>
            </updates>
        </layout>
      </frontend>
    
    
    <global>
        
        <helpers>
            <topgifts>
                <class>TF_TopGifts_Helper</class>
            </topgifts>
        </helpers>  
        
        
        <models>
            <topgifts>
                <class>TF_TopGifts_Model</class>
            </topgifts>   
        </models>

        <blocks>
            <topgifts>
                <class>TF_TopGifts_Block</class>
            </topgifts>   
        </blocks>        
    </global>
        

    
</config> 