/* 
    Document   : styles
    Created on : 17-Jul-2013, 13:17:10
    Author     : shawn
    Description:
        Purpose of the stylesheet follows.
*/

.topgifts {
    background: #FFFFFF;
    line-height: 1.35;
    margin: 0 0 15px;
    padding-right: 0;
}


.topgifts .block-title {
    background: #1F1F1F;
    margin-right: 0;
    padding: 10px 8px 8px 10px;
}

.topgifts .block-title strong {
    color: #FFFFFF;
    display: block;
    font: bold 12px/1.5 Arial,Helvetica,sans-serif;
    text-shadow: 0 -1px #000000;
    text-transform: uppercase;
}

@media (max-width: 480px) {
  .topgifts .add-to-links { display: none; visibility: hidden;}
  .topgifts .link-more { display: none; visibility: hidden;}
}
